.article div{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article p{
    font-size: 1rem;
    margin-top: 32px;
    margin-bottom: 16px;
}

.title{
    font-size: 2rem;
}

.subtitle{
    font-size: 1.3rem;
}

.summary a{
    color: black;
    text-decoration: none;
}