.navigator-bar{
    display: flex;
    align-items:center;
    padding: 10px;
}

.navigator-bar:after {
    content: "";
    display: table;
    clear: both;
}

.navigator-bar div:last-child{
    margin-left: auto;
}

.repo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    gap: 8px;
}

.block-itens{
    display: flex;
    gap: 46px;
    margin-right: 10px;
}

button:hover{
    transition: 200ms;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

